.App {
  @media screen and (max-width: 600px) {
    padding-top: 120px;
  }

  @media screen and (max-width: 600px) {
    padding-top: 120px;
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}