.App {
  padding-top: 80px;
  height: 1000px;

  @media screen and (max-width: 600px) {
    padding-top: 120px;
    width: 100%;
  }
  
  @media screen and (max-width: 698px) {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}